<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form action="/teams" method="post">
      <input type="text" name="" value="">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
