<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form action="/teams" method="post">
      Team Name: <input type="text" name="team_name"><br>
      Team Motto: <input type="text" name="team_motto">
    <h2>Hero 1</h2>  
      Hero's Name: <input type="text" name="hero_name"><br>
      Hero's Power: <input type="text" name="hero_power"><br>
      Hero's Biography: <input type="text" name="hero_biography"><br>
    <h2>Hero 2</h2>  
      Hero's Name: <input type="text" name="hero_name"><br>
      Hero's Power: <input type="text" name="hero_power"><br>
      Hero's Biography: <input type="text" name="hero_biography"><br>
    <h2>Hero 3</h2>  
      Hero's Name: <input type="text" name="hero_name"><br>
      Hero's Power: <input type="text" name="hero_power"><br>
      Hero's Biography: <input type="text" name="hero_biography"><br>
    <input type="submit" value="Submit">
    </form>
  </body>
</html>
